# ファイル名が「.elc」で終わるファイルを無視する場合
*.elc
*.DS_Store
tramp

# 特定ディレクトリ配下のファイルはすべて無視する場合
elpa/
auto-save-list/
var/
cache/
eshell/
#private/
server/
work/
semanticdb/
elpa/archives/
url/
tutorial/
# rss reader
newsticker/

# トップディレクトリの「.cache」で終わるファイルだけ無視する場合
# この場合「/」は「.gitignore」ファイルのディレクトリから相対パスで評価されます。
##/*.cache

# 「.cache」で終わるファイルは無視するが「juuyo.cache」だけは無視しない場合
# 「!」で始まる設定は、無視するファイルから「除外する」と言う意味になります。
##*.cache
##!juuyo.cache

# 「.cache」で終わるファイルは無視するが
# 「directory」ディレクトリ配下の「.cache」で終わるファイルは無視しない場合
##*.cache
##!directory/*.cache
