[submodule "private"]
	path = private
	url = https://luozengbin@bitbucket.org/luozengbin/dropbox-emacs.git
[submodule "blogs/octopress"]
	path = blogs/octopress
	url = https://luozengbin@bitbucket.org/luozengbin/octopress-source.git
[submodule "share/info-ja/org-ja"]
	path = share/info-ja/org-ja
	url = https://github.com/org-mode-doc-ja/org-ja.git
[submodule "lisp/google-weather-el"]
	path = lisp/google-weather-el
	url = http://git.naquadah.org/git/google-weather-el.git
[submodule "lisp/smartrep"]
	path = lisp/smartrep
	url = https://github.com/myuhe/smartrep.el.git
[submodule "lisp/yasnippet"]
	path = lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "lisp/google-maps"]
	path = lisp/google-maps
	url = http://git.naquadah.org/git/google-maps.git
[submodule "lisp/google-contacts"]
	path = lisp/google-contacts
	url = http://git.naquadah.org/git/google-contacts.el.git
[submodule "lisp/twittering-mode"]
	path = lisp/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "lisp/wgrep"]
	path = lisp/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "lisp/helm"]
	path = lisp/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "lisp/emacs-edbi"]
	path = lisp/emacs-edbi
	url = https://github.com/kiwanami/emacs-edbi.git
[submodule "lisp/direx-el"]
	path = lisp/direx-el
	url = https://github.com/m2ym/direx-el.git
[submodule "lisp/popwin-el"]
	path = lisp/popwin-el
	url = https://github.com/m2ym/popwin-el.git
[submodule "lisp/org2blog"]
	path = lisp/org2blog
	url = https://github.com/punchagan/org2blog.git
[submodule "lisp/org-googlecl"]
	path = lisp/org-googlecl
	url = https://github.com/rileyrg/org-googlecl.git
[submodule "lisp/magit"]
	path = lisp/magit
	url = https://github.com/magit/magit.git
[submodule "lisp/emacs-calfw"]
	path = lisp/emacs-calfw
	url = https://github.com/kiwanami/emacs-calfw.git
[submodule "lisp/e2wm"]
	path = lisp/e2wm
	url = https://github.com/kiwanami/emacs-window-manager.git
[submodule "lisp/emacs-window-layout"]
	path = lisp/emacs-window-layout
	url = https://github.com/kiwanami/emacs-window-layout.git
[submodule "lisp/highlight-indentation"]
	path = lisp/highlight-indentation
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs
[submodule "lisp/expand-region"]
	path = lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "lisp/mark-multiple"]
	path = lisp/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "lisp/o-blog"]
	path = lisp/o-blog
	url = https://github.com/renard/o-blog.git
[submodule "lisp/html5-el"]
	path = lisp/html5-el
	url = https://github.com/hober/html5-el.git
[submodule "lisp/php-mode"]
	path = lisp/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "lisp/php-completion"]
	path = lisp/php-completion
	url = https://github.com/imakado/php-completion.git
[submodule "lisp/perl-completion"]
	path = lisp/perl-completion
	url = https://github.com/imakado/perl-completion.git
[submodule "lisp/multiple-cursors"]
	path = lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "lisp/emacs-yalinum"]
	path = lisp/emacs-yalinum
	url = https://github.com/myuhe/emacs-yalinum.git
[submodule "lisp/ne2wm"]
	path = lisp/ne2wm
	url = https://github.com/tkf/ne2wm.git
[submodule "lisp/emoji"]
	path = lisp/emoji
	url = https://github.com/imakado/emoji.git
[submodule "lisp/weibo.emacs"]
	path = lisp/weibo.emacs
	url = https://github.com/austin-----/weibo.emacs.git
[submodule "lisp/auto-complete"]
	path = lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "lisp/popup-el"]
	path = lisp/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "lisp/fuzzy-el"]
	path = lisp/fuzzy-el
	url = https://github.com/auto-complete/fuzzy-el.git
[submodule "lisp/clmemo"]
	path = lisp/clmemo
	url = https://github.com/ataka/clmemo.git
[submodule "lisp/blgrep"]
	path = lisp/blgrep
	url = https://github.com/ataka/blgrep.git
